{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "extends": [
    "airbnb-typescript",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    "prettier/react"
  ],
  "plugins": ["jest", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "react/prop-types": "off",
    "global-require": "off"
  },
  "settings": {
    "jest": {
      "version": 26
    }
  }
}
